= render 'shared/errors', obj: @employee

.row
  .col.s10.offset-s1
    =form_for @employee do |f|
      .row
        .input-field.col.s12
          = f.label :name, 'Imię i Nazwisko', class: 'active'
          = f.text_field :name, class: 'validate', autofocus: true
      .row
        .input-field.col.s12
          = f.label :start_date, 'Data zatrudnienia', class: 'active'
          = f.date_field :start_date, class: 'validate'
      .row
        .input-field.col.s12
          = f.label :skills, 'Umiejętności', class: 'active'
          = f.text_field :skills, class: 'validate'
      .row
        .input-field.col.s12
          = f.label :payment, 'Stawka godzinowa', class: 'active'
          = f.number_field :payment, class: 'validate'
      .row
        .input-field.col.s12
          = f.submit 'Dodaj', class: 'btn btn-success btn-lg'