.row
  .col.s12.m8.offset-m2
    .card-panel.teal.center-align.white-text
      %h4 #{@field.name}
      %p Numer pola: #{@field.number}
      %p Rok zakupu: #{@field.year.to_date}
      %p Własność: #{@field.ownership}
      %p Powierzchnia: #{@field.area} ha
      %hr
      =link_to 'Usuń', @field, method: :delete, data: {confirm: 'Czy na pewno chcesz usunąć to pole?'}, class: 'white-text'
      =link_to 'Edytuj', edit_field_path, class: 'white-text'