<!DOCTYPE html>
<html>
  <head>
    <title>FarmerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav'%>
    <main>
      <div class="row">
        <% if user_signed_in? %>
          <%= render 'layouts/sidebar' %>
        <% end %>
        <div class="col offset-l2 s12 m12 l10 page">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>